@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  scroll-behavior: smooth;
  scroll-padding: 7rem; }

/*Colores*/
/*maps*/
/*Shadows y decoraciones*/
/*Mixins Botones*/
/*Mixin linea de abajo*/
/*Mixin sombra personalizada*/
.prop__header {
  z-index: 10; }
  .prop__header .radius__border__navbar__header {
    /*prop__navbar__header*/
    border-radius: 0px 0px 15px 15px;
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.363); }
    .prop__header .radius__border__navbar__header .prop__border__img__header {
      border-radius: 20px;
      width: 4em; }
    .prop__header .radius__border__navbar__header .boton__nav__header {
      background-color: #c1c1c1bb;
      border-radius: 0px;
      padding: 0.5rem;
      transition: 0.3s; }
      .prop__header .radius__border__navbar__header .boton__nav__header:hover {
        background-color: #76efe9bd;
        text-decoration: underline; }
    .prop__header .radius__border__navbar__header .active__header {
      text-decoration: underline;
      background-color: #c1c1c1dc; }
    @media screen and (max-width: 990px) {
      .prop__header .radius__border__navbar__header .boton__nav__header {
        width: 100%;
        border-radius: 5px;
        margin-top: 0.5rem; } }
  @media screen and (max-width: 992px) {
    .prop__header .radius__border__navbar__header {
      background-color: rgba(0, 0, 0, 0.671); } }

.prop__lineas__footer {
  height: 3px; }

.prop__txt__footer {
  color: white; }

/*PAGINA INDEX*/
/*Comienza la pagina index*/
/*GUITARRAS (TITLE, Y GUITARRAS)*/
/*title guitar*/
.new__title__index {
  animation: new;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 2.5s; }

@keyframes new {
  0% {
    background-color: #7BD3E0;
    color: black; }
  48% {
    background-color: #7BD3E0;
    color: black; }
  50% {
    background-color: #000;
    color: white; }
  99% {
    background-color: #000;
    color: white; } }

.proyects__title__index {
  animation: proyects;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 2.5s; }

@keyframes proyects {
  0% {
    background-color: #7BD3E0;
    color: black; }
  48% {
    background-color: #7BD3E0;
    color: black; }
  49% {
    visibility: hidden; }
  100% {
    visibility: hidden; } }

.style__title__index {
  right: 25%;
  top: -10%;
  animation-name: style;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 2.5s; }

@keyframes style {
  0% {
    visibility: hidden; }
  49% {
    visibility: hidden; }
  50% {
    background-color: #000;
    color: white; }
  100% {
    background-color: #000;
    color: white; } }

/*guitars effects*/
.conteiner__guitarras__hover {
  transition: all 0.3s; }
  .conteiner__guitarras__hover:hover {
    transform: scale(1); }
  .conteiner__guitarras__hover .linea__hover__guitarras__index {
    background-color: #000;
    width: 100%;
    height: 2px;
    transition: all 0.2s; }
  .conteiner__guitarras__hover:hover .linea__hover__guitarras__index {
    visibility: visible;
    background-color: #7BD3E0;
    transform: scale(1.05); }
  .conteiner__guitarras__hover .btn__prop__primary {
    background-color: black;
    color: white;
    border: none;
    transition: all 0.2s; }
    .conteiner__guitarras__hover .btn__prop__primary:hover {
      text-decoration: underline; }
    .conteiner__guitarras__hover .btn__prop__primary .ancla__gs__principal__index {
      color: white;
      text-decoration: none; }
  .conteiner__guitarras__hover:hover .btn__prop__primary {
    background-color: #7BD3E0;
    color: black;
    transform: scale(1.05); }

/* PROPIEDADES DE LOS ACCESORIOS EN EL INDEX */
.shadow__prop__acc__index {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: all 0.2s; }
  .shadow__prop__acc__index:hover {
    box-shadow: none;
    transform: scale(0.997); }

/*botones ver más- accesorios*/
.btn-principal-acc, .btn-secundario-acc, .btn-terciario-acc {
  background-color: #7BD3E0;
  width: 100%;
  color: black;
  text-decoration: none;
  transition: all 0.2s; }
  .btn-principal-acc:hover, .btn-secundario-acc:hover, .btn-terciario-acc:hover {
    transform: scale(1.01);
    color: black;
    text-decoration: underline; }

.btn-secundario-acc {
  background-color: #D2FA7D;
  width: 100%;
  color: black;
  text-decoration: none; }

.btn-terciario-acc {
  background-color: #77EDBB;
  width: 100%;
  color: black;
  text-decoration: none; }

/*carousel acc*/
.prop__cont__acc__index-1:hover, .prop__cont__acc__index-2:hover, .prop__cont__acc__index-3:hover {
  visibility: visible; }

.prop__cont__acc__index-1 .prop__acc__img__carousel__index, .prop__cont__acc__index-2 .prop__acc__img__carousel__index, .prop__cont__acc__index-3 .prop__acc__img__carousel__index, .prop__cont__acc__index-1 .linea__bottom__txt__acc__index, .prop__cont__acc__index-2 .linea__bottom__txt__acc__index, .prop__cont__acc__index-3 .linea__bottom__txt__acc__index {
  transition: all 0.3s; }

.prop__cont__acc__index-1:hover .prop__acc__img__carousel__index, .prop__cont__acc__index-2:hover .prop__acc__img__carousel__index, .prop__cont__acc__index-3:hover .prop__acc__img__carousel__index, .prop__cont__acc__index-1:hover .linea__bottom__txt__acc__index, .prop__cont__acc__index-2:hover .linea__bottom__txt__acc__index, .prop__cont__acc__index-3:hover .linea__bottom__txt__acc__index {
  transform: scale(1.03); }

.prop__cont__acc__index-1 .linea__bottom__txt__acc__index, .prop__cont__acc__index-2 .linea__bottom__txt__acc__index, .prop__cont__acc__index-3 .linea__bottom__txt__acc__index {
  background-color: #7BD3E0;
  height: 2px; }

.prop__cont__acc__index-1:hover .linea__bottom__txt__acc__index, .prop__cont__acc__index-2:hover .linea__bottom__txt__acc__index, .prop__cont__acc__index-3:hover .linea__bottom__txt__acc__index {
  transform: scale(1.3); }

.prop__cont__acc__index-1 .prop__txt__pedalboards__acc__index, .prop__cont__acc__index-2 .prop__txt__pedalboards__acc__index, .prop__cont__acc__index-3 .prop__txt__pedalboards__acc__index {
  color: white;
  font-size: 2rem;
  width: 23%;
  z-index: 2;
  transform: translate(-150%, 50%);
  text-decoration: underline;
  text-decoration-color: #7BD3E0; }
  @media screen and (max-width: 980px) {
    .prop__cont__acc__index-1 .prop__txt__pedalboards__acc__index, .prop__cont__acc__index-2 .prop__txt__pedalboards__acc__index, .prop__cont__acc__index-3 .prop__txt__pedalboards__acc__index {
      bottom: 5.5rem;
      right: -2rem;
      width: 40%; } }
  @media screen and (max-width: 641px) {
    .prop__cont__acc__index-1 .prop__txt__pedalboards__acc__index, .prop__cont__acc__index-2 .prop__txt__pedalboards__acc__index, .prop__cont__acc__index-3 .prop__txt__pedalboards__acc__index {
      bottom: 5.5rem;
      left: 35rem;
      width: 60%;
      font-size: 150%; } }
  @media screen and (max-width: 500px) {
    .prop__cont__acc__index-1 .prop__txt__pedalboards__acc__index, .prop__cont__acc__index-2 .prop__txt__pedalboards__acc__index, .prop__cont__acc__index-3 .prop__txt__pedalboards__acc__index {
      bottom: 5.5rem;
      left: 30rem;
      width: 60%;
      font-size: 150%; } }
  @media screen and (max-width: 350px) {
    .prop__cont__acc__index-1 .prop__txt__pedalboards__acc__index, .prop__cont__acc__index-2 .prop__txt__pedalboards__acc__index, .prop__cont__acc__index-3 .prop__txt__pedalboards__acc__index {
      bottom: 5.5rem;
      left: 20rem;
      width: 60%;
      font-size: 150%; } }

/*LUTHERIA*/
#lutheria .prop__title__lutheria__index {
  margin-top: 10rem;
  margin-bottom: 5rem; }

#lutheria .personaliza__txt__index {
  visibility: visible;
  background-color: #7BD3E0;
  position: relative;
  right: 5%;
  animation-name: personaliza;
  animation-timing-function: ease;
  animation-duration: 2.5s;
  animation-iteration-count: infinite; }

@keyframes personaliza {
  0% { }
  48% { }
  49% {
    visibility: hidden; }
  100% {
    visibility: hidden; } }

#lutheria .repara__txt__index {
  position: relative;
  right: 25%;
  visibility: hidden;
  animation-name: repara;
  animation-timing-function: ease;
  animation-duration: 2.5s;
  animation-iteration-count: infinite; }
  @media screen and (max-width: 768px) {
    #lutheria .repara__txt__index {
      right: 25%; } }
  @media screen and (max-width: 540px) {
    #lutheria .repara__txt__index {
      right: 50%; } }

@keyframes repara {
  0% {
    visibility: hidden; }
  49% {
    visibility: hidden; }
  50% {
    visibility: visible;
    background-color: #D2FA7D;
    color: black; }
  99% {
    visibility: visible;
    background-color: #D2FA7D;
    color: black; } }

#lutheria .lutheria__txt__index-2 {
  right: 8rem; }

#lutheria .linea__bottom__title__lutheria__index-2 {
  background-color: #D2FA7D;
  height: 2px;
  width: 65%; }

#lutheria .linea__bottom__title__lutheria__index-1 {
  background-color: #7BD3E0;
  height: 2px;
  width: 95%; }

#lutheria .btn__lutheria__index {
  background-color: #7BD3E0;
  width: 100%;
  color: black;
  text-decoration: none;
  z-index: 2; }
  #lutheria .btn__lutheria__index:hover {
    text-decoration: underline; }

#lutheria .btn__lutheria__index--sec {
  background-color: #D2FA7D;
  width: 100%;
  color: black;
  text-decoration: none;
  z-index: 2; }
  #lutheria .btn__lutheria__index--sec:hover {
    text-decoration: underline; }

/*FIN DE LA PAGINA INDEX*/
.prop__body__acc {
  height: 100vh;
  /*CATEGORIAS*/
  /*ACCESORIOS*/ }
  .prop__body__acc .bg__img__acc {
    background-image: url("../assets/pagina__accesorios/img-principal.png");
    height: 25rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; }
    @media screen and (max-width: 768px) {
      .prop__body__acc .bg__img__acc {
        background-image: url("../assets/pagina__accesorios/img-principal-768.png");
        max-width: 576px;
        background-size: cover; } }
    @media screen and (max-width: 576px) {
      .prop__body__acc .bg__img__acc {
        background-image: url("../assets/pagina__accesorios/img-principal.png");
        max-width: 576px;
        background-size: cover;
        background-repeat: none;
        background-attachment: none;
        height: 35rem; } }
  .prop__body__acc .prop__container__cat__acc {
    position: sticky;
    top: 5rem;
    right: 40%; }
  .prop__body__acc .prop__container__cat__acc li {
    list-style: none; }
  .prop__body__acc .prop__container__cat__acc li a {
    text-decoration: none;
    color: #000; }
  .prop__body__acc .prop__container__cat__acc li a:hover {
    text-decoration: underline; }
  .prop__body__acc .linea__divisoria__cont__acc {
    background-color: #7BD3E0;
    height: 2px; }
  .prop__body__acc .hover__container__acc__acc {
    visibility: visible;
    transition: all 0.2s; }
    .prop__body__acc .hover__container__acc__acc:hover {
      visibility: visible;
      transform: scale(1.02); }
    .prop__body__acc .hover__container__acc__acc .hover__linea__acc__acc {
      background-color: #000;
      height: 1.2px;
      transition: all 0.2s; }
    .prop__body__acc .hover__container__acc__acc:hover .hover__linea__acc__acc {
      background-color: #7BD3E0;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      height: 2px; }
    .prop__body__acc .hover__container__acc__acc .hover__txt_footer__acc__acc {
      transition: all 0.2s; }
    .prop__body__acc .hover__container__acc__acc:hover .hover__txt_footer__acc__acc {
      color: #000;
      font-weight: bold; }

/*COMIENZO DE PAGINA DE GUITARRAS*/
.html__gs {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  scroll-padding: 9rem; }
  @media screen and (max-width: 768px) {
    .html__gs {
      scroll-padding: 7rem; } }

.prop__body__gs {
  height: 100vh;
  /*contenedor categorias*/
  /*contenedor guitarras*/ }
  .prop__body__gs .bg__portada__prinipal__gs {
    background-image: url("../../assets/paginas_guitarra/img-portada/guitar-portada.png.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
    height: 35rem; }
    @media screen and (max-width: 768px) {
      .prop__body__gs .bg__portada__prinipal__gs {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        z-index: -1;
        height: 35rem; } }
    @media screen and (max-width: 540px) {
      .prop__body__gs .bg__portada__prinipal__gs {
        background-image: url("../assets/paginas_guitarra/img-portada/guitar_2-540.png.jpg");
        background-size: cover;
        height: 30rem; } }
  .prop__body__gs .prop__cont__cat__gs {
    position: sticky;
    top: 5.5rem;
    background-color: rgba(255, 255, 255, 0.507);
    backdrop-filter: blur(6px);
    border-radius: 0px 20px 0px 0px;
    z-index: 1; }
    @media screen and (max-width: 768px) {
      .prop__body__gs .prop__cont__cat__gs {
        position: relative;
        top: 0rem;
        border-radius: 20px 20px 0px 0px;
        backdrop-filter: blur(3px); } }
    .prop__body__gs .prop__cont__cat__gs .btn__cat__gs {
      background-color: rgba(0, 0, 0, 0.692);
      font-size: 100%;
      color: white;
      text-decoration: none;
      transition: all 0.3s; }
      @media screen and (max-width: 768px) {
        .prop__body__gs .prop__cont__cat__gs .btn__cat__gs {
          border-radius: 5px; } }
      .prop__body__gs .prop__cont__cat__gs .btn__cat__gs:hover {
        background-color: #7BD3E0;
        color: black; }
      .prop__body__gs .prop__cont__cat__gs .btn__cat__gs .linea__btn__cat__gs {
        background-color: black;
        height: 1px;
        width: 0%;
        transition: all 0.3s; }
      .prop__body__gs .prop__cont__cat__gs .btn__cat__gs:hover .linea__btn__cat__gs {
        width: 100%; }
  .prop__body__gs .prop__cont__guitarras__gs {
    bottom: 4.2rem; }
    .prop__body__gs .prop__cont__guitarras__gs .linea__divisoria__gs__gs-1, .prop__body__gs .prop__cont__guitarras__gs .linea__divisoria__gs__gs-2 {
      visibility: visible;
      background-color: #7BD3E0;
      height: 3px;
      animation-name: linea;
      animation-iteration-count: 1;
      animation-timing-function: ease;
      animation-duration: 0.7s; }

@keyframes linea {
  0% {
    width: 0%;
    background-color: #7BD3E0; }
  25% {
    width: 25%;
    background-color: #7BD3E0; }
  50% {
    width: 50%;
    background-color: #7BD3E0; }
  75% {
    width: 75%;
    background-color: #7BD3E0; }
  100% {
    width: 100%;
    background-color: #7BD3E0; } }
    .prop__body__gs .prop__cont__guitarras__gs .linea__divisoria__gs__gs-2 {
      background-color: black;
      height: 2px; }
    
      /*Caracteristicas guitarras*/
      .prop__body__gs .prop__cont__guitarras__gs .prop__cont__gs .prop__cont__ind__gs {
        transition: all 0.3s; }
        .prop__body__gs .prop__cont__guitarras__gs .prop__cont__gs .prop__cont__ind__gs .prop__img__gs__gs {
          transition: all 0.3s; }
        .prop__body__gs .prop__cont__guitarras__gs .prop__cont__gs .prop__cont__ind__gs .linea__under__text__guitarras__gs, .prop__body__gs .prop__cont__guitarras__gs .prop__cont__gs .prop__cont__ind__gs .linea__under__text__guitarras__gs-2 {
          background-color: #7BD3E0;
          height: 2px;
          transition: all 0.3s;
          width: 0%; }
        .prop__body__gs .prop__cont__guitarras__gs .prop__cont__gs .prop__cont__ind__gs .prop__txt__gs__gs {
          font-size: 100%;
          transition: all 0.3s; }
        .prop__body__gs .prop__cont__guitarras__gs .prop__cont__gs .prop__cont__ind__gs:hover .linea__under__text__guitarras__gs, .prop__body__gs .prop__cont__guitarras__gs .prop__cont__gs .prop__cont__ind__gs:hover .linea__under__text__guitarras__gs-2 {
          width: 75%; }
        .prop__body__gs .prop__cont__guitarras__gs .prop__cont__gs .prop__cont__ind__gs:hover .prop__img__gs__gs {
          transform: scale(1.03); }
        .prop__body__gs .prop__cont__guitarras__gs .prop__cont__gs .prop__cont__ind__gs:hover .prop__txt__gs__gs {
          font-weight: bold; }
        .prop__body__gs .prop__cont__guitarras__gs .prop__cont__gs .prop__cont__ind__gs .linea__under__text__guitarras__gs-2 {
          background-color: black; }
        .prop__body__gs .prop__cont__guitarras__gs .prop__cont__gs .prop__cont__ind__gs:hover .linea__under__text__guitarras__gs-2 {
          width: 75%; }
      .prop__body__gs .prop__cont__guitarras__gs .prop__cont__gs .btn__cargar__gs {
        background-color: #7BD3E0;
        width: 11rem;
        color: black;
        text-decoration: none;
        transition: all 0.3s; }
        .prop__body__gs .prop__cont__guitarras__gs .prop__cont__gs .btn__cargar__gs:hover {
          text-decoration: underline;
          transform: scale(1.02); }

/*COMIENZO DE LA PAGINA CONTACTO*/
.prop__body__contacto {
  height: 100vh;
  background-image: url("../assets/pagina__contacto/img-fondo/fondo.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }
  @media screen and (max-width: 540px) {
    .prop__body__contacto {
      background-image: url("../assets/pagina__contacto/img-fondo/fondo-540.jpg"); } }
  .prop__body__contacto .prop__main__contacto {
    padding-top: 7rem; }
    .prop__body__contacto .prop__main__contacto .height__conteiner__1__contacto {
      height: 42rem; }
      .prop__body__contacto .prop__main__contacto .height__conteiner__1__contacto .bg__form__contacto {
        background-color: rgba(0, 0, 0, 0.733);
        backdrop-filter: blur(6px); }
        .prop__body__contacto .prop__main__contacto .height__conteiner__1__contacto .bg__form__contacto .bg__title__form__contacto {
          background-color: #7BD3E0;
          color: black; }
        .prop__body__contacto .prop__main__contacto .height__conteiner__1__contacto .bg__form__contacto .linea__bottom__title__form__contacto {
          background-color: #7BD3E0;
          height: 3px;
          width: 75%; }
        .prop__body__contacto .prop__main__contacto .height__conteiner__1__contacto .bg__form__contacto .color__label__form__contacto {
          color: white; }
      .prop__body__contacto .prop__main__contacto .height__conteiner__1__contacto .bg__container__info__contacto {
        background-color: rgba(0, 0, 0, 0.833);
        backdrop-filter: blur(6px);
        font-size: 120%; }
        .prop__body__contacto .prop__main__contacto .height__conteiner__1__contacto .bg__container__info__contacto .color__text__info__contacto {
          color: white; }
          @media screen and (max-width: 540px) {
            .prop__body__contacto .prop__main__contacto .height__conteiner__1__contacto .bg__container__info__contacto .color__text__info__contacto {
              font-size: 100%; } }
      .prop__body__contacto .prop__main__contacto .height__conteiner__1__contacto .btn__enviar__form__contacto {
        background-color: #7BD3E0;
        width: 5rem;
        color: white;
        text-decoration: none; }
    .prop__body__contacto .prop__main__contacto .height__conteiner__2__contacto {
      background-color: white; }
      .prop__body__contacto .prop__main__contacto .height__conteiner__2__contacto .div__bar__contacto {
        background-color: #7BD3E0;
        height: 0.2rem;
        width: 80%; }
      .prop__body__contacto .prop__main__contacto .height__conteiner__2__contacto .prop__title__contacto2 {
        color: black; }
        .prop__body__contacto .prop__main__contacto .height__conteiner__2__contacto .prop__title__contacto2 .prop__linea__titulo__informacion__contacto {
          background-color: white;
          height: 1px; }
      .prop__body__contacto .prop__main__contacto .height__conteiner__2__contacto .prop__card__contacto {
        transition: all 0.2s; }
        .prop__body__contacto .prop__main__contacto .height__conteiner__2__contacto .prop__card__contacto .linea__bottom__title__container-2__contacto {
          background-color: #7BD3E0;
          height: 2px;
          width: 50%; }
      .prop__body__contacto .prop__main__contacto .height__conteiner__2__contacto .prop__card__contacto:hover {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

/**/
/*Comienzo de la pagina atencion al cliente*/
.prop__body__at {
  height: 100vh; }
  .prop__body__at .prop__main__at {
    background-image: url("../assets/pagina_atencion/fondo/fondo.jpg");
    background-size: cover; }
    .prop__body__at .prop__main__at .prop__container__info__ac {
      width: 50%;
      background-color: rgba(0, 0, 0, 0.267);
      backdrop-filter: blur(6px);
      border: 1px solid #7BD3E0; }
      @media screen and (max-width: 768px) {
        .prop__body__at .prop__main__at .prop__container__info__ac {
          background-color: rgba(0, 0, 0, 0.6); } }
      .prop__body__at .prop__main__at .prop__container__info__ac .clr__txt__title__at {
        color: black; }
        @media screen and (max-width: 768px) {
          .prop__body__at .prop__main__at .prop__container__info__ac .clr__txt__title__at {
            color: white; } }
      .prop__body__at .prop__main__at .prop__container__info__ac .linea__bottom__title__form__ac {
        background-color: #7BD3E0;
        height: 3px;
        width: 85%; }
      .prop__body__at .prop__main__at .prop__container__info__ac .bg__container__forms__ac {
        background-color: rgba(255, 255, 255, 0.74); }
      .prop__body__at .prop__main__at .prop__container__info__ac .bg__title__form__ac {
        background-color: #7BD3E0; }
      .prop__body__at .prop__main__at .prop__container__info__ac .btn__enviar__form__ac {
        background-color: #7BD3E0;
        width: 5rem;
        color: black;
        text-decoration: none; }
  @media screen and (max-width: 768px) {
    .prop__body__at .prop__main__at {
      background-image: url("../assets/pagina_atencion/fondo/fondo-768.jpg"); }
      .prop__body__at .prop__main__at .prop__container__info__ac {
        width: 100%; } }

/*pagina vacia*/
.bg__empty {
  background-image: url(../assets/empty/empty.r.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position-x: center; }

.a_empty {
  text-decoration: none;
  color: #e4e2e1; }

.btn__empty {
  background-color: #7BD3E0;
  width: 4rem;
  color: black;
  text-decoration: none; }
