
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    scroll-behavior: smooth;
    scroll-padding:7rem; 
}

@import "utilities/variables";
@import "utilities/mixins";

@import "layout/header";
@import "layout/footer";

@import "views/index";
@import "views/accesorios";
@import "views/guitarras";
@import "views/contacto";
@import "views/atencion_cliente";
@import "views/empty";


