
/*Mixins Botones*/
@mixin botones ($boton-type, $width-btn, $color-btn){
    @if $boton-type=="btn-principal"{
        background-color: map-get($colores-g, color-primario );
        width: $width-btn;
        color:$color-btn;
        text-decoration: none;
    }@else if $boton-type=="btn-secundario"{
        background-color: map-get($colores-g, color-complementario);
        width: $width-btn;
        color:$color-btn;
        text-decoration: none;
    }@else if $boton-type=="btn-gray-sec"{
        background-color: rgb(187, 187, 187);
        width: $width-btn;
        color:$color-btn;
        text-decoration: none;
    }@else{
        background-color: map-get($colores-g, color-terciario);
        width: $width-btn;
        color:$color-btn;
        text-decoration: none;
    }
}

/*Mixin linea de abajo*/
@mixin linea-bottom ($color-linea, $height-linea, $width-linea) {
    background-color: $color-linea;
    height: $height-linea;
    width: $width-linea;

}

/*Mixin sombra personalizada*/
@mixin shadows-p ($m1, $m2, $radio-d, $radio-e, $color-s) {
    box-shadow: $m1 $m2 $radio-d $radio-e $color-s;
}