/*PAGINA INDEX*/
    /*Comienza la pagina index*/

/*GUITARRAS (TITLE, Y GUITARRAS)*/

    /*title guitar*/
    .new__title__index{
        animation: new;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        animation-duration: 2.5s;

        @keyframes new {
            0%{background-color: map-get($colores-g, color-primario); color:black;}
            48%{background-color: map-get($colores-g, color-primario); color:black;}
            50%{background-color: #000; color: white;}
            99%{background-color: #000; color: white;}
        }
        
    }
        
    .proyects__title__index{
        animation: proyects;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        animation-duration: 2.5s;

        @keyframes proyects{
            0%{background-color: map-get($colores-g, color-primario); color: black;}
            48%{background-color: map-get($colores-g, color-primario); color: black;}
            49%{visibility: hidden;}
            100%{visibility: hidden;}
        }
        
    }
        
    .style__title__index{
        right: 25%;
        top: -10%;
        animation-name: style;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        animation-duration: 2.5s;

        @keyframes style{
            0%{ visibility: hidden;}
            49%{ visibility: hidden;}
            50%{background-color: #000; color: white;}
            100%{background-color: #000; color: white;}

        }
       
    }

    
 
    /*guitars effects*/
    .conteiner__guitarras__hover{
        transition: all 0.3s;

        &:hover{
        transform: scale(1);
        }

        .linea__hover__guitarras__index{
            background-color: #000;
            width: 100%;
            height: 2px;
            transition: all 0.2s;
        }
        &:hover  .linea__hover__guitarras__index{
            visibility: visible;
            background-color:map-get($colores-g,color-primario);
            transform: scale(1.05);
        }
        .btn__prop__primary{
            background-color: map-get($colores-g,negro );
            color: white;
            border: none;
            transition: all 0.2s;
            &:hover{
                text-decoration: underline;
            }
            .ancla__gs__principal__index{
                color: white;
                text-decoration: none;
            }
        }
        &:hover .btn__prop__primary{
            background-color:map-get($colores-g, color-primario );
            color: black;
            transform: scale(1.05);
        }
    }

/* PROPIEDADES DE LOS ACCESORIOS EN EL INDEX */


    // Propiedades de la sombra y hover cards accesorios
    .shadow__prop__acc__index{
        box-shadow: $shadows-g;
        transition: all 0.2s;
        &:hover{
            box-shadow: none;
            transform: scale(0.997);
        }
    }
    /*botones ver más- accesorios*/
    .btn-principal-acc{
        @include botones ("btn-principal", 100%, black);
        transition: all 0.2s;
        &:hover{
            transform: scale(1.01);
            color: map-get($colores-g, negro);
            text-decoration: underline;
        }
    }
    .btn-secundario-acc{
        @include botones ("btn-secundario", 100%, black);
        @extend .btn-principal-acc;
        &:hover{
            @extend .btn-principal-acc:hover;
        }
    }
    .btn-terciario-acc{
        @include botones ("btn-terciario", 100%, black);
        @extend .btn-principal-acc;
        &:hover{
            @extend .btn-principal-acc:hover;
        }
    }
     /*carousel acc*/
     .prop__cont__acc__index-1{
        &:hover{
            visibility: visible;
        }
        .prop__acc__img__carousel__index{
            transition: all 0.3s;
        }
        &:hover .prop__acc__img__carousel__index{
            transform: scale(1.03);
        }
        .linea__bottom__txt__acc__index{
            background-color: map-get($colores-g, color-primario );
            height: 2px;
            @extend .prop__acc__img__carousel__index;
        }
        &:hover .linea__bottom__txt__acc__index{
            transform: scale(1.3);
        }
        
        // propiedades de texto de pedalboards
        .prop__txt__pedalboards__acc__index{
            color: map-get($colores-g, blanco);
            font-size: 2rem;
            width: 23%;
            z-index:2;
            transform: translate(-150%, 50%);
            text-decoration: underline;
            text-decoration-color: map-get($colores-g, color-primario);
            @media screen and (max-width:980px) {
                bottom: 5.5rem;
                right: -2rem;
                width: 40%;

            }
            @media screen and (max-width:641px) {
                bottom: 5.5rem;
                left: 35rem;
                width: 60%;
                font-size: map-get($font-sizes,150);
            }
            @media screen and (max-width:500px) {
                bottom: 5.5rem;
                left: 30rem;
                width: 60%;
                font-size: map-get($font-sizes,150);
            }
            @media screen and (max-width:350px) {
                bottom: 5.5rem;
                left: 20rem;
                width: 60%;
                font-size: map-get($font-sizes,150);
            }
        }



     }
    .prop__cont__acc__index-2{
     @extend .prop__cont__acc__index-1;
    }
    .prop__cont__acc__index-3{
        @extend .prop__cont__acc__index-1;
    }
    

    /*LUTHERIA*/

    #lutheria{
        .prop__title__lutheria__index{
        margin-top: 10rem;
        margin-bottom: 5rem;
    }

    .personaliza__txt__index{
        visibility: visible;
        background-color: map-get($colores-g, color-primario );
        position: relative;
        right: 5%;
        animation-name: personaliza;
        animation-timing-function: ease;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;

        @keyframes personaliza{
            0%{background-color:map-get($colores-g,colorprimario);}
            48%{background-color: map-get($colores-g,colorprimario);}
            49%{visibility: hidden;}
            100%{visibility: hidden;}
        }
    }
        

    .repara__txt__index{
        position: relative; right: 25%;
        visibility: hidden;
        animation-name: repara;
        animation-timing-function: ease;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
        @media  screen and (max-width:768px) {
            right: 25%;
        }
        @media  screen and (max-width:540px) {
            right: 50%;
        }
         @keyframes repara{
            0%{visibility: hidden;}
            49%{visibility: hidden;}
            50%{visibility: visible;background-color:map-get($colores-g,color-complementario);color:map-get($colores-g,negro);}
            99%{visibility: visible;background-color:map-get($colores-g,color-complementario);color:map-get($colores-g,negro);}
        }
        
    }
    .lutheria__txt__index-2{
        right:8rem;
    }


    .linea__bottom__title__lutheria__index-2{
        @include linea-bottom (map-get($colores-g, color-complementario), 2px, 65% )
    }
    .linea__bottom__title__lutheria__index-1{
        @include linea-bottom (map-get($colores-g, color-primario), 2px, 95%)
    }
    
    .btn__lutheria__index{
        @include botones ("btn-principal",100%, black);
        z-index: 2;
        &:hover{
            text-decoration:underline
        }
    }
    .btn__lutheria__index--sec{
        @include botones ("btn-secundario", 100%, black);
        z-index: 2;
        &:hover{
            text-decoration:underline
        }
    }
    
    }
    


/*FIN DE LA PAGINA INDEX*/